#home {
  height: 70vh;
  color: white;
}
.backgimg-text p {
  font-size: clamp(30px, 2vw, 4em) ;
}

.backgimg-text {
  position: fixed;
  top: 15%;
  z-index: 1;
  width: 100%;
  font-family: var(--tight-font-family);
  z-index: -2000;
}

.backgimg-text h1 {
  position: relative;
  width: 100%;
  font-size: clamp(50px, 18vw, 13em);
  line-height: 1em;
  font-weight: var(--wo-bold-weigth);
}

.backgimg-text h1 span {
  color: var(--span-color);
  display: inline-block;
  transform-origin: left;
  animation: bendAnimation 1s ease forwards;
}

@keyframes bendAnimation {
  100% {
    transform: translateY(0) rotate(20deg);
  }
}



@media screen and (max-width: 960px) {
  #home{
    height: 60vh;
  }
}
@media screen and (max-width: 768px) {
 #home{
    height: 50vh;
  }
}
@media screen and (max-width: 560px) {
 #home{
    height: 35vh;
  }

  .backgimg-text h1{
    font-size: clamp(50px, 16vw, 12em);
  }
}
